body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 30px auto;
    background-color: #ffffff00;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}
form{
    margin: 0 400px 0 400px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 100%;
    padding: 20px;
    background-color: #9600ff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: 0.4s;
}

button[type="submit"]:hover {
    background-color: #555;
    font-weight: bold;
    

}
